body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.notification {
    background-color: #a4cefe;
    color: #333;
    border-left: 3px solid #044c9f;
    padding: 1em;
    margin: 1em 0;
    border-radius: 6px;
}

.purple {
    background-color: #f7f0ff;
    color: #333;
    border-left: 3px solid #5f1fad;
}

.success {
    background-color: #eaf6ef;
    color: #333;
    border-left: 3px solid #065b29;
}

.fail {
    background-color: #ffe6ea;
    color: #333;
    border-left: 3px solid #b7102c;
}